/* Documento CSS */
* {
	margin: 0px;
	padding: 0px;
	outline: 0;
}

.responsividade {
	position: relative;
	width: 1400px;
	margin: 0 auto;
	height: 400px;
}

.menu {
	width: 100%; /*840px / 1128px */
	float: left;
}